@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: var(--font-color);
}

:root {
    /*--font-color: #1c2a38; */ 
    --font-color: white;
    --color1: #6553a5;
    --color2: #925fa1;
    --color3: #c8457b;
    --color4: #fbf3e9;
    --color5: #1a466e;
    --color6: #a990e5;
    --color7: #bd65aa;
    --color8: #2b1f58;
}

/*-=-=-=-=- REUTILIZÁVEL-=-=-=-=-*/
.bg {
    /*background: url(https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?cs=srgb&dl=pexels-veeterzy-114979.jpg&fm=jpg);*/
    /*background: url(https://png.pngtree.com/thumb_back/fh260/background/20210929/pngtree-glassmorphism-wave-effect-abstract-background-image_908575.png); */
    background: url(/assets/images/bg3.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.title {
    text-align: center;
    font-size: 47.5px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.1;
    margin: 6px 0 10px 0px;
}

.subtitle {
    text-align: center;
    font-weight: 200;
    font-style: italic;
    line-height: 1.1;
    margin: 15px 0 15px 0px;
}

.transparent_btn {
    margin: auto;
    margin-top: 50px;
    min-width: 125px;
    cursor: pointer;
    background: none;
    padding: 5px;
    border: 1px solid white;
    border-radius: 15px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.transparent_btn:hover {
    background: white;
    color: var(--color1);
}

.purple_btn {
    min-width: 295px;
    cursor: pointer;
    background: var(--color1);
    padding: 5px;
    font-weight: 300;
    border-radius: 15px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.purple_btn:hover {
    background: var(--color2);
}

.paragraph {
    max-width: 700px;
    text-align: center;
    color: #1c2a38;
    padding: 35px;
    margin: 35px 0px 35px 0px;
}

.border-top {
    border-top: 1.75px solid var(--color1);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 500px;
}

.glassmorphism {
    margin-top: 50px;
    padding: 100px 100px 50px 100px;
    max-width: 850px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.301);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.flex-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.smImg,
.mdImg,
.bgImg,
.card-section {
    cursor: grab;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.smImg:hover,
.mdImg:hover,
.bgImg:hover,
.card-section:hover {
    transform: scale(1.05);
}


.flex-div .smImg {
    max-width: 100px;
    max-height: 100px;
}

.flex-div .mdImg {
    max-width: 300px;
    max-height: 300px;
}

.flex-div .bgImg {
    max-width: 500px;
    max-height: 500px;
}

.card-section {
    text-align: center;
    font-size: 13px;
    max-width: 500px;
    padding: 35px 50px 35px 50px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    text-shadow: 0.1em 0.1em 0.2em #333;
}

.card-section .title {
    font-size: 17.5px;
    margin-bottom: 25px;
}

.margin-left {
    margin-left: 50px;
}

.margin-right {
    margin-right: 50px;
}

.low-width {
    max-width: 400px !important;
}

li {
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    cursor: pointer;
    list-style: none;
}

header {
    width: 100%;
}

/*-=-=-=-=- NAVBAR-=-=-=-=-*/

nav {
    margin-bottom: 15px;
    padding: 50px 25px 25px 25px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    width: 175px;
    padding: 25px;
    display: flex;
    justify-content: center;
    list-style: none;
}

.link-nav {
    position: relative;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 1px;
    list-style: none;
}

.link-nav::before,
.link-nav::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
    transform: scaleX(0);
    transition: transform .25s;
}

.link-nav::before {
    top: -3px;
    transform-origin: left;
}

.link-nav::after {
    bottom: -3px;
    transform-origin: right;
}

.link-nav:hover::before,
.link-nav:hover::after {
    transform: scaleX(1);
}

.nav-actions {
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.sign-in-out {
    background: var(--color3);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 125px;
    border-radius: 25px;
    border: 1px solid #ffffff8a;
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.sign-in-out:hover {
    background: var(--color1);
}

/*-=-=-=-=- MENU PRINCIPAL -=-=-=-=-*/

main {
    width: 100%;
}

.custom-shape-divider-bottom-1684278806 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
   
.custom-shape-divider-bottom-1684278806 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 146px;
}

.custom-shape-divider-bottom-1684278806 .shape-fill {
    fill: white;
}

.home {
    padding: 10% 10%;
}

.bg-main {
    background: white;
}

.cta {
    cursor: pointer;
    position: relative;
    margin: auto;
    margin-top: 50px;
    padding: 7px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 35px;
    height: 35px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #b1dae7;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}

.image-section {
    max-width: 375px;
    max-height: 375px;
}

.content {
    margin-bottom: -225px;
}

.rounded-profile-photo {
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    border-radius: 50%;
}

.rounded-profile-photo:hover {
    transform: scale(1.1);
}

/*-=-=-=-=- CONTATOS -=-=-=-=-*/

.profile {
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    padding: 25px 15px 25px 15px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    gap: 25px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.05s;
    cursor: pointer;
}

.profile div h1,
.profile div p {
    color: #1c2a38;
}

.profile img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.profile:hover {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 10px;
}

.creditos {
    padding: 10px;
}

/*-=-=-=-=- FOOTER -=-=-=-=-*/

footer {
    width: 100%;
}

.custom-shape-divider-bottom-1684886182 {
    margin-top: 75px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1684886182 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1684886182 .shape-fill {
    fill: #807ab7;
}

footer p {
    background: #807ab7;
    height: 20vh;
    width: 100%;
}

/*-=-=-=-=- SECTIONS -=-=-=-=-*/

.main-section {
    margin-top: 2.2em;
    width: 100%;
    min-height: 72vh;
}

.welcome-background-div {
    background: rgba(255, 255, 255, 0.24);
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
        25px 35px 20px rgba(0, 0, 0, 0.05),
        25px 30px 30px rgba(0, 0, 0, 0.05),
        inset -20px -20px 25px rgba(255, 255, 255, 0.9);
    border-radius: 70% 30% 30% 70% / 63% 70% 30% 37%;
    margin-bottom: 6.5em;
}

.paragraph-welcome {
    font-weight: normal;
    text-align: center;
    max-width: 1050px;
    padding: 25px;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.2em #3333335e;
}

.btn-section {
    margin-top: 2.1em;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
    cursor: pointer;
}

.blue:hover {
    background: #3f2f7a;
}

.blue {
    background: var(--color8);
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
}

/*-=-=-=-=- QUESTIONÁRIO -=-=-=-=-*/

.questions-container {
    margin-top: -75px;
}

.questions-container h1 {
    font-size: 32.5px;
    text-align: center;
}

.questions-container h4,
.questions-container h4 span {
    font-weight: normal;
    font-style: italic;
    font-size: 14.5px;
    text-align: center;
}

.quiz-container {
    max-width: 500px;
    margin-top: 2.5em;
    display: flex;
    flex-direction: column;
    gap: 18.5px;
}

.quiz-container h3 {
    font-weight: normal;
}

.li-selected {
    min-width: 500px;
    font-size: 14px;
    font-weight: normal;
    border-radius: 5px;
    padding: 10px;
    background: #afa9ff;
    border: 1px solid #33333340;
}

.li-hover {
    min-width: 500px;
    color: #1c2a38;
    font-size: 14px;
    font-weight: normal;
    border-radius: 5px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.877);
    border: 1px solid #33333340;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.li-hover:hover {
    color: white;
    transform: scale(1.025);
    background: #afa9ff;
}

.quiz-button,
.quiz-button-disabled {
    padding: 10px;
    border-radius: 5px;
    margin-top: 4em;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.quiz-button {
    cursor: pointer;
    background: #ce6efa;
}

.result-message {
    margin-top: 50px;
}

.result-message h3 {
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

.result-message p {
    font-size: 14px;
    text-align: center;
}

/*-=-=-=-=- FEED -=-=-=-=-*/

.feed {
    width: 100%;
    padding: 0% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 350px;
}

.feed h1 {
    margin-bottom: 3em;
    text-align: center;
    font-size: 38px;
    color: var(--color3);
}

/*-=-=-=-=- POSTS CONFIG -=-=-=-=-*/

.post-container {
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.post-card {
    border-radius: 10px;
    padding: 25px;
    width: 450px;
    border: 1px solid #e6e6e6d0;
}

.post-creator {
    align-items: center;
    display: flex;
}

.post-creator-info {
    margin-left: 10px;
}

.post-creator h3 {
    font-size: 16px;
    color: #333;
}

.post-creator p {
    font-size: 13px;
    color: #333;
}

.post-info {
    margin-top: 2em;
}

.post-info p {
    text-align: justify;
    overflow: hidden;
    width: 100%;
    height: 105px;
    font-size: 14px;
    color: #333;
}

.post-actions div {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.edit-post,
.remove-post,
.answer-post {
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    cursor: pointer;
}

.edit-post,
.answer-post {
    color: #6dd3a3;
}

.remove-post {
    color: var(--color3);
}

.remove-post:hover {
    color: var(--color7);
}

.edit-post:hover,
.answer-post:hover {
    color: #2a8f60;
}

/*-=-=-=-=- FORMULÁRIOS -=-=-=-=-*/

.form-container {
    padding: 50px;
    border-radius: 10px;
    border: 1px solid #7e7e7e5e;
    background: rgba(255, 255, 255, 0.952);
    margin-top: 8.5em;
    max-width: 850px;
    display: flex;
    flex-direction: column;
}

.top-form {
    margin-bottom: 2.2em;
}

.top-form h1 {
    font-size: 27.5px;
    color: var(--color3);
}

.top-form p {
    font-size: 13px;
    color: #333333a9;
}

.form label {
    display: flex;
    flex-direction: column;
}

.form-textarea {
    color: #1c2a38;
    border: 1px solid #3333331e;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    background: #f9f9f9;
    width: 100%;
    outline: 0;
    resize: none;
    min-height: 300px;
}

.form-actions {
    display: flex;
    gap: 25px;
    justify-content: flex-end;
    align-items: center;
    margin-top: 3.5em;
}

.cancel-form {
    font-size: 14px;
    text-decoration: none;
    color: #333333a9;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.cancel-form:hover {
    color: #333;
}

.send-form {
    background: var(--color3);
    color: white;
    padding: 5px;
    border-radius: 15px;
    width: 100px;
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.send-form:hover {
    background: var(--color1);
}


/*-=-=-=-=- RESPONSIVIDADE -=-=-=-=-*/

@media (max-width: 750px) {
    .paragraph-border-top {
        border-top: none;
    }

    .glassmorphism {
        padding: 100px 15px 75px 15px;
    }


    .flex-div .smImg {
        max-width: 100px;
        max-height: 100px;
    }

    .flex-div .mdImg {
        max-width: 250px;
        max-height: 250px;
    }

    .flex-div .bgImg {
        max-width: 350px;
        max-height: 350px;
    }

    .margin-left {
        margin-left: 0px;
    }

    .margin-right {
        margin-right: 0px;
    }

    .main-section {
        padding: 5px;
    }

    .card-section {
        max-width: 375px;
    }

    .nav-actions {
        margin-left: 0;
    }

    .li-selected {
        min-width: 300px;
    }

    .li-hover {
        min-width: 300px;
    }

    .feed h1 {
        margin-top: 4em;
        font-size: 27.5px;
    }

    .post-card {
        width: 350px;
    }
}